.calendar-updates-blog-post-header3 {
  height: 724px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fdf4f1;
}
.calendar-updates-image1 {
  left: 1px;
  width: 200px;
  bottom: 2px;
  position: absolute;
  object-fit: cover;
}
.calendar-updates-container1 {
  left: 78px;
  width: 327.3px;
  bottom: 34px;
  height: 474.9px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1533158307587-828f0a76ef46?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDI0fHxwaG90b3xlbnwwfHx8fDE3MTMxODA1OTZ8MA&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
.calendar-updates-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calendar-updates-container2 {
  left: 421px;
  width: 327.3px;
  bottom: 33px;
  height: 474.9px;
  display: flex;
  position: absolute;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1533158307587-828f0a76ef46?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDI0fHxwaG90b3xlbnwwfHx8fDE3MTMxODA1OTZ8MA&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
.calendar-updates-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calendar-updates-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.calendar-updates-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.calendar-updates-content {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.calendar-updates-image4 {
  top: -2px;
  right: 21px;
  width: 86px;
  height: 82px;
  position: absolute;
  object-fit: cover;
}
.calendar-updates-container4 {
  top: 83px;
  right: -82px;
  width: 425px;
  height: 524px;
  display: flex;
  position: absolute;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1533158307587-828f0a76ef46?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDI0fHxwaG90b3xlbnwwfHx8fDE3MTMxODA1OTZ8MA&ixlib=rb-4.0.3&w=1400');
  background-position: center;
}
.calendar-updates-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calendar-updates-fragment1 {
  display: contents;
}
.calendar-updates-text1 {
  height: 33px;
  display: inline-block;
  font-size: 50.2px;
  align-self: flex-start;
  text-align: left;
  font-family: "Raleway";
}
.calendar-updates-fragment2 {
  display: contents;
}
.calendar-updates-text2 {
  display: inline-block;
  font-size: 32px;
  align-self: flex-start;
  text-align: left;
  font-family: "Cabin";
  font-weight: 200;
}
@media(max-width: 991px) {
  .calendar-updates-container1 {
    width: 100%;
    height: 500px;
  }
  .calendar-updates-container2 {
    width: 100%;
    height: 500px;
  }
  .calendar-updates-max-width {
    flex-direction: column;
  }
  .calendar-updates-container4 {
    width: 100%;
    height: 500px;
  }
}
@media(max-width: 767px) {
  .calendar-updates-content {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .calendar-updates-content {
    align-items: center;
  }
  .calendar-updates-text1 {
    text-align: center;
  }
  .calendar-updates-text2 {
    align-self: center;
    text-align: center;
  }
}
