.footer-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.footer-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.footer-desktop-menu {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  display: flex;
  justify-content: space-between;
}
.footer-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-link11 {
  transition: 0.3s;
  text-decoration: none;
}

.footer-link31 {
  transition: 0.3s;
  text-decoration: none;
}

.footer-link51 {
  transition: 0.3s;
  text-decoration: none;
}

.footer-burger-menu {
  display: none;
}
.footer-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.footer-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-logo {
  height: 3rem;
}
.footer-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.footer-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.footer-fragment1 {
  display: contents;
}
.footer-text1 {
  color: #ffffff;
  display: inline-block;
  font-family: "Cabin";
}
.footer-text1:hover {
  color: #ff516b;
}
.footer-fragment2 {
  display: contents;
}
.footer-text2 {
  display: inline-block;
}
.footer-fragment3 {
  display: contents;
}
.footer-text3 {
  color: #ffffff;
  display: inline-block;
  font-family: "Cabin";
}
.footer-text3:hover {
  fill: #ff516b;
  color: #ff516b;
}
.footer-fragment4 {
  display: contents;
}
.footer-text4 {
  color: #ffffff;
  display: inline-block;
  font-family: "Cabin";
}
.footer-text4:hover {
  fill: #ff516b;
  color: #ff516b;
}
.footer-fragment5 {
  display: contents;
}
.footer-text5 {
  display: inline-block;
}


@media(max-width: 767px) {
  .footer-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-desktop-menu {
    display: none;
  }
  .footer-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .footer-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
