.hero-container {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #000000;
}
.hero-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-image1 {
  left: -16px;
  width: 200px;
  bottom: -62px;
  position: absolute;
  object-fit: cover;
}
.hero-image2 {
  width: 69px;
  height: 87px;
  align-self: center;
  object-fit: cover;
}
.hero-content {
  gap: 24px;
  height: 350px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero-button {
  width: 205px;
  height: 83px;
  font-size: 24.2px;
  text-align: left;
  transition: 0.3s;
  border-width: 0px;
  text-decoration: none;
  background-color: #09397a;
}
.hero-button:hover {
  border: none;
  border-color: #ff516b;
  background-color: #ff516b;
}
.hero-image3 {
  top: 154px;
  right: 27px;
  width: 75px;
  height: 69px;
  position: absolute;
  object-fit: cover;
}
.hero-image4 {
  width: 525px;
  height: 621px;
  object-fit: cover;
}
.hero-fragment1 {
  display: contents;
}
.hero-text1 {
  color: rgb(255, 255, 255);
  height: 178px;
  display: inline-block;
  font-size: 21px;
  font-family: "Cabin";
}
.hero-text2 {
  color: #ff516b;
}
.hero-fragment2 {
  display: contents;
}
.hero-text5 {
  color: #ffffff;
  display: inline-block;
  font-size: 50.2px;
  font-family: "Raleway";
}
.hero-fragment3 {
  display: contents;
}
.hero-text6 {
  display: inline-block;
  font-family: "Cabin";
}

@media(max-width: 991px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .hero-actions {
    width: 100%;
    justify-content: center;
  }
  .hero-text1 {
    text-align: center;
  }
  .hero-text5 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero-actions {
    flex-direction: column;
  }
  .hero-button {
    width: 100%;
  }
  .hero-text1 {
    text-align: center;
  }
  .hero-text5 {
    text-align: center;
  }
}
