.signup-about-header26 {
  gap: var(--dl-space-space-twounits);
  width: 1366px;
  height: 691px;
  align-items: center;
  justify-content: center;
}
.signup-about-image {
  width: 1366px;
  height: 691px;
  align-self: center;
  object-fit: cover;
}
.signup-abou-troot-class-name {
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
}
